body {
  font-family: "Book Antiqua", Times;
  bakground: white;
}
.appView {
  font-size: 12px;
  color: #232323;
}

.article .leadText {
  font-family: Arial;
}

.navigationBar {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8D8D8D), color-stop(100%,#000000));
}
/*
 * FrontpageView
 */
.frontpageView {
  background: white;
}

/*.frontpageView .article {
  background: none;
}
*/
.frontpageView .article h2 {
  font-weight: bold;
  font-size: 120%;
  margin: 20px;
}

.frontpageView .article .leadText {
  margin: 20px;
}


.frontpageView .article .image {
  width: auto;
  overflow: hidden;
  margin: 20px;
}

.frontpageView .article .image img {
  width: 100%;
}

/*
 * Main article
 */
.frontpageView .article0 {
  width: 72%;
  min-height: 500px;
  font-size: 125%;
  margin-bottom: 40px;
  background: white;
}

.frontpageView .article0 .image {
  height: 370px;
  margin: 0;
  background: black;
  position: relative;
}

.frontpageView .article0 .image img {
  min-height: 100%;
  width: auto;
  min-width: 100%;
}

.frontpageView .article0 .leadText {
  font-family: "Book Antiqua", Times;
  font-size: 110%;
}

/*
 * Article 2, 3 & 4
 */
.frontpageView .sectionArticles {
  background: #f5f5f5;
  padding-top: 40px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

.frontpageView .article1,
.frontpageView .article2 {
  border-right: 1px solid #ccc;
}

.frontpageView .article1,
.frontpageView .article2,
.frontpageView .article3 {
  width: 33%;
  float: left;
}


.frontpageView .article1 .image,
.frontpageView .article2 .image,
.frontpageView .article3 .image {
  max-height: 150px;
  margin-top: -20px;
}

.frontpageView .sidebar {
  position: absolute;
  right: 0;
  top: 0;
  left: 72%;
  padding-left: 1px;
  -webkit-box-sizing: content-box;
  height: 370px;
  background: #333;
  color: #ccc;
  font-family: Arial;
  font-size: 80%;
}

.frontpageView .sidebar h2 {
  text-transform: uppercase;
  font-size: 120%;
  margin: 20px;
}

.frontpageView .leder {
  position: absolute;
  top: 390px;
  right: 0;
  left: 72%;
  border-left: 1px solid #ccc;
  height: 120px;
  overflow: hidden;
}

.frontpageView .leder h2 {
  margin-top: 0;
}

.frontpageView .leder .p {
  text-overflow: ellipsis;  
  overflow: hidden;  
}

.frontpageView .leder .image {
  display: none;
}

/*
 * ArticleView
 */
.articleView {
    color: black;
    background: white;
}

.articleView .leadText {
  font-weight: bold;
}

.articleView .byline {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.articleView .mainImage {
  width: 100%;
  height: 61.5%;
  overflow: hidden;
  background: black;
}

.articleView .mainImage img {
  min-width: 100%;
  max-height: 100%;
}
.articleView .mainImage.video .overlay {
  display: block;
  height: 100%;
  width: 100%;
  background: url('/images/play.png') center center no-repeat, rgba(66,66,66, 0.5);
  
  position: absolute;
  z-index: 100;
}
.articleView .mainImage video {
  width: 100%;
  margin-top: 0;
  height: 100%;
  display: none;
}

.articleView .x-panel-body {
  position: relative;
}

.articleView .page .body {
  position: absolute;
  bottom: 0;
  top: 0;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;
	padding: 20px;
}

.articleView .page:nth-child(1) .body {
  top: 61.5%;
}

.articleView .header {
  position: absolute;
  width: 100%;
}

.articleView h1 {
  margin-top: 0;
  font-size: 200%;
  font-weight: bold;
  background: rgba(255,255,255,.7);
}

.articleView p {
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: 0;
}

.articleView .body p:first-child {
  margin-top: 0;
}


.articleView p.continued {
  margin-top: 0;
}

.articleView strong {
  font-weight: bold;
}

/*
 * SectionView
 */
.sectionView {
 background: white;
}
 
.sectionView h1 {
  font-family: Arial;
  font-size: 130%;
  position: absolute;
  right: 0;
  background: white;
  color: #0081BA;
  text-transform: uppercase;
  font-weight: bold;
  width: 30%;
  text-align: right;
}

.sectionView h1 span {
  display: block;
  padding: 10px;
}

.sectionView .article {
  background: none;
}

.sectionView .article h2 {
  font-weight: bold;
  font-size: 120%;
  margin: 20px;
}

.sectionView .article .leadText {
  margin: 20px;
}


.sectionView .article .image {
  width: auto;
  overflow: hidden;
  margin: 20px;
}

.sectionView .article .image img {
  width: 100%;
}

/*
 * Main article
 */
.sectionView .article0 {
  width: 70%;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  min-height: 500px;
  font-size: 125%;
  margin-bottom: 40px;
}

.sectionView .article0 .image {
  max-height: 350px;
  margin: 0;
}

.sectionView .article0 .leadText {
  font-family: "Book Antiqua", Times;
}

/*
 * Article 2 & 3
 */
 
.sectionView .article1 {
  border-right: 1px solid #ccc;
}

.sectionView .article1,
.sectionView .article2 {
  width: 35%;
  float: left;
}


.sectionView .article1 .image,
.sectionView .article2 .image {
  max-height: 150px;
  margin-top: -20px;
}

.sectionView .sidebar {
  position: absolute;
  right: 0;
  top: 50px;
  width: 30%;
  padding-left: 1px;
  -webkit-box-sizing: content-box;
  bottom: 0;
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-right: 0;
  color: #444;
}

.sectionView .sidebar .article {
  width: 100
  margin-bottom: 20px;
}

.sectionView .sidebar .article .leadText {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.sectionView .sidebar .article:last-child .leadText {
  border-bottom: 0;
}

.sectionView .sidebar .article .image {
  display: none;
}

.sectionView .sidebar .article3 .image {
  display: block;
}
