body {
  font-family: "Book Antiqua", Times;
}

.articleView {
    color: black;
    background: white;
    font-size: 12px;
    padding: 5px;
}

.articleView .leadText {
  font-weight: bold;
}

.articleView .byline {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.articleView .mainImage {
  width: 100%;
  max-height: 200px;
  overflow: hidden;
}

.articleView .mainImage img {
  width: 100%;
}

.articleView .x-panel-body {
  position: relative;
}

.articleView .page .body {
  position: absolute;
  bottom: 0;
  top: 0;
	-moz-column-count: 2;
	-moz-column-gap: 20px;
	-webkit-column-count: 2;
	-webkit-column-gap: 20px;
	column-count: 2;
	column-gap: 20px;          
}

.articleView .page:nth-child(1) .body {
  top: 210px;
}

.articleView .header {
  position: absolute;
  width: 100%;
  height: 200px;
}

.articleView h1 {
  font-size: 2em;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-column-span: all;
  font-weight: bold;
  background: rgba(255,255,255,.7);
  padding: 5px;
}

.articleView p {
  margin-top: 1em;
  margin-bottom: 0;
}

.articleView .body p:first-child {
  margin-top: 0;
}


.articleView p.continued {
  margin-top: 0;
}

.articleView strong {
  font-weight: bold;
}

/*
 * Sections
 */
.sectionView {
 background: white;
}
 
.sectionView h1 {
  font-family: Arial;
  position: absolute;
  right: 0;
  background: white;
  color: #0081BA;
  text-transform: uppercase;
  font-weight: bold;
  width: 30%;
  text-align: right;
}

.sectionView h1 span {
  display: block;
  padding: 5px;
}

.sectionView .article {
  background: none;
  font-size: 12px;
}

.sectionView .article h2 {
  font-weight: bold;
  font-size: 110%;
  margin: 20px;
}

.sectionView .article .leadText {
  margin: 20px;
}


.sectionView .article .image {
  width: auto;
  overflow: hidden;
  margin: 20px;
}

.sectionView .article .image img {
  width: 100%;
}

/*
 * Main article
 */
.sectionView .article0 {
  width: 70%;
  border-bottom: 1px solid #ccc;
  min-height: 500px;
  font-size: 120%;
  margin-bottom: 40px;
}

.sectionView .article0 .image {
  max-height: 350px;
  margin: 0;
}

.sectionView .article0 .leadText {
  font-size: 90%;
}

/*
 * Article 2 & 3
 */
 
.sectionView .article1 {
  border-right: 1px solid #ccc;
}

.sectionView .article1,
.sectionView .article2 {
  width: 35%;
  float: left;
}


.sectionView .article1 .image,
.sectionView .article2 .image {
  max-height: 150px;
  margin-top: -20px;
}

.sectionView .sidebar {
  position: absolute;
  right: 0;
  top: 50px;
  width: 30%;
  bottom: 0;
  background: #F5F5F5;
  border: 1px solid #ccc;
  border-right: 0;
  color: #444;
}

.sectionView .sidebar .article {
  width: 100
  margin-bottom: 20px;
}

.sectionView .sidebar .article .leadText {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.sectionView .sidebar .article:last-child .leadText {
  border-bottom: 0;
}

.sectionView .sidebar .article .image {
  display: none;
}

.sectionView .sidebar .article3 .image {
  display: block;
}
